$primary: #F18F01;
$secondary: #048BA8;
$info: #2E4057;
$light: #d3ffd8;

@font-face {
  font-family: 'AEC';
  src: local('AndronEIRCorpus'), url(./fonts/AndronEIRCorpus-lar.woff2) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.container {
  font-family: AEC;
}

.card {
  border: none !important;
}

a {
  color: $secondary !important;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
